{{ partial "header" (dict "asset" "post" "context" . "Site" .Site ) }}

{{ "<!-- main content block -->" | safeHTML }}
<main><article>

    <header>
        <h1>{{ .Title }}</h1>
        <time datetime="{{ .Date.Format "2006-01-02" }}"><i class="material-icons">schedule</i>{{ .Date.Format "2006.01.02" }} 公開</time>
        {{ if isset .Params "update"}}
        <time><i class="material-icons">update</i> {{ .Params.update }} 更新</time>
        {{ end }}
        {{ with .Params.categories -}}{{ range . -}}
        <a class="postHeader__category" href="/categories/{{ . | urlize }}/"><i class="material-icons">folder</i>{{ . }}</a>
        {{- end }}{{- end }}
        {{ with .Params.tags -}}
        <ul class="postHeader__tags">
            <i class="material-icons">local_offer</i>
            {{ range . -}}
            <li><a href="/tags/{{ . | urlize }}/"># {{ . }}</a>
            {{- end }}
        </ul>
        {{- end }}
        <picture class="hero">
            {{- if isset .Params "image" }}
            <source media="(max-width:600px)" srcset="{{ .Site.BaseURL }}/post-asset/{{ .Params.image }}_sp.jpg" sizes="100vw">
                <img src="{{ .Site.BaseURL }}/post-asset/{{ .Params.image }}_pc.jpg" alt="ヘッダー画像">
            {{- else }}
            <source media="(max-width:600px)" srcset="{{ .Site.BaseURL }}/images/default_sp.png" sizes="100vw">
                <img src="{{ .Site.BaseURL }}/images/default_pc.png" alt="ヘッダー画像">
            {{- end }}
        </picture>
        {{ partial "share" . }}
        {{ if .Params.contentlist -}}
            <aside id="contentList"><ol></ol></aside>
        {{- end }}
    </header>

    <section>
        {{ .Content }}
    </section>


    <footer>
        {{ partial "share" . }}
        <!-- <aside class="disqus"></aside>
        <div class="adsense">
            <ins class="adsbygoogle"
                 style="display:block; text-align:center;"
                 data-ad-format="fluid"
                 data-ad-layout="in-article"
                 data-ad-client="ca-pub-5055970484117246"
                 data-ad-slot="5667426518"></ins>
        </div> -->
    </footer>

</article></main>

{{ partial "footer" (dict "asset" "post" "context" . "Site" .Site ) }}
