{{ partial "header.html" . }}
  <article>
    <ul>
      <li><a href="#"><span>2016/02/10</span>記事タイトル10</a></li>
      <li><a href="#"><span>2016/02/09</span>記事タイトル9</a></li>
      <li><a href="#"><span>2016/02/08</span>記事タイトル8</a></li>
      <li><a href="#"><span>2016/02/07</span>記事タイトル7</a></li>
      <li><a href="#"><span>2016/02/06</span>記事タイトル6</a></li>
      <li><a href="#"><span>2016/02/05</span>記事タイトル5</a></li>
      <li><a href="#"><span>2016/02/04</span>記事タイトル4</a></li>
      <li><a href="#"><span>2016/02/03</span>記事タイトル3</a></li>
      <li><a href="#"><span>2016/02/02</span>記事タイトル2</a></li>
      <li><a href="#"><span>2016/02/01</span>記事タイトル1</a></li>
    </ul>
  </article>
  <nav>
    <a href="#">前へ</a>
    <a href="#">次へ</a>
  </nav>
{{ partial "footer.html" . }}
