@charset "UTF-8";
@import "common";
@import "column-single";



main{
    background: lighten($acce,10%) url('../images/404.png') 50% 50% no-repeat;
    background-size: 50%;
    text-align: center;
    font-family: 'Trebuchet MS';
    padding: 18rem 0 16rem;
    @include max($mobile){ padding: 8rem 0 6rem }
    h1{
        color: rgba(#fff,.8);
        font-size: 16rem;
        margin: 0;
        padding: 0;
        line-height: 1;
    }
    p{
        font-size: 2rem;
        letter-spacing: .2em;
        color: darken($acce, 55%);
        margin: 0;
        text-align: center;
    }
    nav{
        ul{
            display: flex;
            justify-content: center;
        }
        a{
            display: block;
            font-weight: bold;
            margin: 2rem;
            color: $base;
            font-size: 2rem;
            text-decoration: none;
            border-bottom: .2rem $base solid;
            &:hover{
                color: $main;
                border-color: $main;
            }
        }
    }
}
