@charset "UTF-8";



#mask{
    content: "";
    display: none;
    position: fixed;
    z-index: 997;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:rgba(#000,.1);
    @include max($readable){
        top: 3rem;
        height: calc( 100% - 3rem );
    }
}
.wrap{
    width: 100%;
    max-width: $readable;
    overflow: visible;
    margin: 0 auto;
    position: relative;
}
main{
    margin-top: 4rem;
}


.globalHeader{
    background: $base;
    width: 100%;
    margin: 2rem auto 0;
    position: relative;
    height: 6rem;
    z-index: 999;
    h1{
        margin: 0 auto;
        width: 15rem;
        height: 4rem;
        padding-top: 1rem;
        img{
            display: block;
            width: 15rem;
            height: 4rem;
        }
    }
    h1 p{ display: none }
    button{
        margin: 0;
        padding: 0;
        width: 6rem;
        height: 6rem;
        position: absolute;
        top: 0;
        border: 0;
        cursor: pointer;
        outline: 0;
        .material-icons{
            font-size: 4rem;
            line-height: 6rem;
            text-align: center;
        }
        &:hover,&:active{
            background: #f0f0f0;
        }
    }
    #menuButton{
        left: 0;
        &.on{
            background: #f0f0f0;
            .material-icons{
                transform: rotate(90deg);
            }
        }
    }
    #searchButton{
        right: 0;
        &.on{
            background: #f0f0f0;
            .material-icons{
                transform: rotate(45deg);
            }
        }
    }
}


.menu{
    display: none;
    z-index: 998;
    position: absolute;
    top: 6rem;
    width: 100%;
    background: $base;
    box-shadow: 0 1rem 2rem -1rem rgba($main,.8);
}
header .follow{
    margin: 0;
    display: flex;
    justify-content: center;
    padding: 2rem 0;
    a{
        display: block;
        margin: 0 1rem;
    }
    .twitter{ color: #008FF7 }
    .facebook{ color: #27448B }
    .feedly{ color: #71C45B }
    .rss{ color: #FC3A00 }
    .notification{ color: #CF970A }
    svg{
        height: 2rem;
        width: auto;
        transition: 0;
    }
}
header nav{
    ul { margin: 0 }
    li{
        // margin: 0 2.4rem;
    }
    a{
        display: block;
        width: 100%;
        height: 6rem;
        text-align: center;
        line-height: 6rem;
        border-top: .1rem solid #f0f0f0;
        color: $main;
        font-family: 'Trebuchet MS';
        text-decoration: none;
        font-weight: bold;
        letter-spacing: .2em;
        &:hover{
            background: $acce;
        }
    }
}


/////////////////////////////////////////////
// search
/////////////////////////////////////////////
.search{
    display: none;
    background: $base;
    z-index: 998;
    width: 100%;
    position: absolute;
    top: 6rem;
    right: 0;
    background: rgba($base,1);
    box-shadow: 0 1rem 2rem -1rem rgba($main,.8);
    padding: 3rem;
}

.search__box{
    background: #f0f0f0;
    border-radius: .4rem;
    position: relative;
    height: 5.6rem;
    input{
        border: 0;
        width: 100%;
        padding: 0 1.6rem 0 5.6rem;
        line-height: 5.6rem;;
        outline: 0;
    }
    .material-icons{
        position: absolute;
        top: 0; left: 0;
        line-height: 5.6rem;
        width: 5.6rem;
        text-align: center;
        color: #999;
    }
    input:focus + .material-icons{ color: $acce }
}

.search__categories{
    margin: 2rem 0 0;
    a{
        display: block;
        width: 100%;
        height: 5.6rem;
        padding-left: 7rem;
        line-height: 5.6rem;
        border-radius: .4rem;
        border-bottom: .1rem solid #f0f0f0;
        text-decoration: none;
        font-weight: bold;
        font-size: 1.8rem;
        color: $main;
        vertical-align: bottom;
        position: relative;
        letter-spacing: .05em;
        &:hover,&:active,&:focus{
            background: $acce;
        }
    }
    .material-icons{
        line-height: 5.6rem;
        position: absolute;
        border-radius: 50%;
        left: 0;
        width: 5.6rem;
        text-align: center;
    }
    .current a{ background: #f0f0f0 }
}

.search__tags{
    display: flex;
    flex-wrap: wrap;
    margin: 2rem 0 0;
    a{
        display: inline-block;
        background-color: #f0f0f0;
        color: #333;
        padding: .6rem 1.8rem;
        margin: .4rem;
        font-size: 1.4rem;
        border-radius: .4rem;
        text-decoration: none;
        opacity: .8;
        box-shadow: .05rem .05rem .2rem rgba(#000,.2);
        &:hover,&:active{
            opacity: 1;
        }
    }
}

/////////////////////////////////////////////
// footer
/////////////////////////////////////////////
.globalFooter{
    text-align: center;
    padding: 4rem 0;
    color: rgba($main,.4);
    font-size: 2rem;
    font-family: 'Trebuchet MS';
    clear: left;
}
