@charset "UTF-8";


#mask{
    display: none;
}
.wrap{
    width: 100%;
    max-width: 120rem;
    margin: 0 auto;
    overflow: visible;
}
main{
    width: 86rem;
    float: left;
}


.globalHeader{
    width: 100%;
    position: relative;
    padding: 8rem 0 10rem;
    h1{
        margin: 0 auto;
        width: 15rem;
        height: 4rem;
        text-align: center;
    }
    h1 a{
        text-decoration: none;
        display: block;
    }
    h1 p{
        font-size: 1.2rem;
        font-weight: 100;
        letter-spacing: .2em;
        text-indent: .2em;
        margin: 1rem 0 0;
        color: rgba(#000,1);
    }
    button{ display: none }
}
header .follow{
    // margin: 6rem auto 0;
    position: fixed;
    z-index: 1;
    top: 2rem;
    right: calc( 50% - 120rem/2 );
    display: flex;
    width: 15rem;
    justify-content: space-between;
    a{
        display: block;
        color: #ccc;
    }
    a:hover .twitter{ color: #008FF7 }
    a:hover .facebook{ color: #27448B }
    a:hover .feedly{ color: #71C45B }
    a:hover .rss{ color: #FC3A00 }
    a:hover .notification{ color: #CF970A }
    svg{
        height: 2rem;
        width: auto;
        transition: 0;
    }
}
header nav{
    ul{
        display: flex;
        justify-content: center;
        text-align: center;
        margin: 6rem auto 0;
    }
    li{
        margin: 0 2.4rem;
    }
    a{
        color: #ccc;
        font-family: 'Trebuchet MS';
        text-decoration: none;
        font-weight: bold;
        letter-spacing: .1em;
        transition: .2s;
        position: relative;
        display: inline-block;
    }
    a::before {
        position: absolute;
        bottom: 0;
        left: 50%;
        content: '';
        width: 100%;
        height: .2rem;
        background-color: #ccc;
        transition: .3s;
        transform: translateX(-50%);
    }
    a::after {
        position: absolute;
        bottom: 0;
        left: 50%;
        content: '';
        width: 0;
        height: .2rem;
        background-color: $main;
        transition: .3s;
        transform: translateX(-50%);
    }
    a:hover{
        color: $main;
    }
    a:hover::after {
        width: 100%;
    }
}


/////////////////////////////////////////////
// search
/////////////////////////////////////////////
.search{
    width: 28rem;
    float: right;
    position: sticky;
    top: 8rem;
}

.search__box{
    background: #f0f0f0;
    border-radius: .4rem;
    position: relative;
    height: 5.6rem;
    input{
        border: 0;
        width: 100%;
        padding: 0 1.6rem 0 5.6rem;
        line-height: 5.6rem;;
        outline: 0;
        background: transparent;
    }
    .material-icons{
        position: absolute;
        top: 0; left: 0;
        line-height: 5.6rem;
        width: 5.6rem;
        text-align: center;
        color: #999;
    }
    input:focus + .material-icons{ color: $acce }
}

.search__categories{
    margin: 2rem 0 0;
    a{
        display: block;
        margin-top: .8rem;
        width: 100%;
        height: 5.6rem;
        padding-left: 7rem;
        line-height: 5.6rem;
        border-radius: 2.8rem;
        text-decoration: none;
        font-weight: bold;
        font-size: 1.8rem;
        color: $main;
        vertical-align: bottom;
        position: relative;
        letter-spacing: .05em;
        &:hover,&:active,&:focus{
            background: $acce;
        }
    }
    .material-icons{
        line-height: 5.6rem;
        position: absolute;
        border-radius: 50%;
        left: 0;
        width: 5.6rem;
        text-align: center;
    }
    .current .material-icons{
        background: $acce;
    }
}

.search__tags{
    display: flex;
    flex-wrap: wrap;
    margin: 2rem 0 0;
    a{
        display: inline-block;
        background-color: #f0f0f0;
        color: #333;
        padding: .2rem 1.2rem;
        margin: .4rem;
        font-size: 1.4rem;
        border-radius: .4rem;
        text-decoration: none;
        opacity: .8;
        box-shadow: .05rem .05rem .2rem rgba(#000,.2);
        &:hover,&:active{
            opacity: 1;
        }
    }
}


/////////////////////////////////////////////
// footer
/////////////////////////////////////////////
.globalFooter{
    padding: 4rem 0;
    color: rgba($main,.4);
    font-size: 2rem;
    font-family: 'Trebuchet MS';
    clear: left;
}
