@charset "UTF-8";
@import "reset";



:root{ font-size: 62.5%; }

$base: #fff;
$main: #223;
$acce: #fc6;

$readable: 50em;
$mobile: 600px;
$tablet: 1280px;

@mixin max($break) {
    @media screen and ( max-width: $break ){ @content; }
}

@mixin min($break) {
    @media screen and ( min-width: $break ){ @content; }
}

html{ background: $base }
body{
    font: 1.6rem/1.8 "游ゴシック","Yu Gothic",YuGothic,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic ProN","ヒラギノ角ゴ ProN",Meiryo,"メイリオ",Helvetica,Arial,Sans-Serif;
    font-weight: 500;
    font-feature-settings : "pwid";
    color: $main;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: grayscale;
}
*:hover{ transition: .2s ease }
ul{
    list-style: none;
    padding: 0;
}
p{
    text-align: justify;
}


//////////////////////////////////////////////
// responsive
//////////////////////////////////////////////
@include max($tablet) {
    :root{ font-size: 57.5%; }
}
@include max($mobile) {
    :root{ font-size: 50%; }
}


/////////////////////////////////////////////
// common component
/////////////////////////////////////////////
#gotop{
    display: block;
    cursor: pointer;
    width: 8rem;
    height: 6rem;
    border-radius: 3rem 0 0 3rem;
    background: $main;
    box-shadow: 1px 1px 3px rgba(#000,.2);
    font-size: 2.4rem;
    line-height: 6rem;
    text-align: center;
    text-decoration: none;
    position: fixed;
    bottom: -6rem;
    right: 0;
    color: $base;
    opacity: .8;
    transition: .4s;
    &:hover,&:active{ background: $acce }
    &.show{ bottom: 2rem }
}
.wishList{
    background: rgba($acce,.4);
    padding: 2rem 2.8rem 2.4rem;
    border-radius: 8px;
    width: 90%;
    margin: 6rem auto 0;
    h3{
        margin: 0;
        text-align: center;
        color: rgba($main,.8);
        span{
            font-size: 1.5em;
        }
    }
    a{
        display: block;
        width: 24rem;
        margin: 1rem auto 0;
        height: 3.2rem;
        line-height: 3.2rem;
        text-align: center;
        background: $acce;
        border-bottom: 2px solid darken($acce,10%);
        border-radius: 2px;
        text-decoration: none;
        color: #fff;
        font-weight: bold;
        font-size: 2rem;
        img{
            margin-top: -.15em;
        }
    }
    p{
        margin: 1.6rem 0 0;
        opacity: .8;
    }
}


/////////////////////////////////////////////
// helper
/////////////////////////////////////////////
.show-pc{
    @include max($mobile){
        display: none;
    } ;
}
