@charset "UTF-8";
@import "reset";



:root{ font-size: 62.5%; }

$base: #fff;
$main: #223;
$acce: #fc6;

$readable: 50em;
$mobile: 600px;
$tablet: 1280px;

@mixin max($break) {
    @media screen and ( max-width: $break ){ @content; }
}

@mixin min($break) {
    @media screen and ( min-width: $break ){ @content; }
}

html{ background: $base }
body{
    font: 1.6rem/1.7 "游ゴシック","Yu Gothic",YuGothic,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic ProN","ヒラギノ角ゴ ProN",Meiryo,"メイリオ",Helvetica,Arial,Sans-Serif;
    font-weight: 500;
    font-feature-settings : "pwid";
    color: $main;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: grayscale;
}
*:hover{ transition: .2s ease }
ul{
    list-style: none;
    padding: 0;
}
p{
    text-align: justify;
}


//////////////////////////////////////////////
// responsive
//////////////////////////////////////////////
@include max($tablet) {
    :root{ font-size: 57.5%; }
}
@include max($mobile) {
    :root{ font-size: 50%; }
}


/////////////////////////////////////////////
// common component
/////////////////////////////////////////////
#gotop{
    display: block;
    cursor: pointer;
    width: 8rem;
    height: 6rem;
    border-radius: 3rem 0 0 3rem;
    background: $main;
    box-shadow: 1px 1px 3px rgba(#000,.2);
    font-size: 2.4rem;
    line-height: 6rem;
    text-align: center;
    text-decoration: none;
    position: fixed;
    bottom: -6rem;
    right: 0;
    color: $base;
    opacity: .8;
    transition: .4s;
    &:hover,&:active{ background: $acce }
    &.show{ bottom: 2rem }
}


/////////////////////////////////////////////
// helper
/////////////////////////////////////////////
.show-pc{
    @include max($mobile){
        display: none;
    } ;
}
