@charset "UTF-8";
@import "common";
@import "column-single";



header img{
    filter: grayscale(100%) brightness(115%);
}
.hero{
    width: 100%;
    margin: 4rem 0 0;
    padding: 12rem 0 11rem;
    background: #000 url('../images/bg.jpg') 50% 80%;
    background-size: cover;
    z-index: 0;
    text-align: center;
    font-family: 'Trebuchet MS';
    img{
        width: 20rem;
    }
    p{
        font-size: 1.4rem;
        font-weight: 100;
        letter-spacing: .3em;
        text-indent: .3em;
        text-align: center;
        margin: 2rem 0 0;
        color: rgba(#fff,.85);
        text-shadow: 0 0 .3rem rgba(#000,1);
    }
}
main{
    @include max($readable){
        padding: 0 2rem;
    }
    h1{
        line-height: 1;
        margin: 2rem 0 0;
        padding-bottom: 1rem;
        letter-spacing: .1em;
        border-bottom: .3rem solid $main;
    }
    h2{
        color: rgba($main,.7);
        margin: 4rem 0 0;
    }
    p{
        margin: 1rem 0 0;
    }
    a:link{ color: darken($acce,20%) }
    a:visited{ color: darken($acce,40%) }
    a:hover,a:active{ color: darken($acce,30%) }
}
