@charset "UTF-8";
@import "common";
@import "column-single";

@keyframes contact-gradient {
      0% { background-position: 0% 0; }
     50% { background-position: 100% 0; }
    100% { background-position: 0% 0; }
}
main{
    @include max($readable) { padding: 0 2rem}
    h1{
        line-height: 1;
        margin: 0;
        padding-bottom: 1rem;
        letter-spacing: .05em;
        border-bottom: .3rem solid $main;
    }
    .contactList{
        background-color: $acce;
        background-image: linear-gradient(-45deg, #f66, $acce);
        background-position: left top;
        background-size: 200% 100%;
        background-repeat: no-repeat;
        animation: contact-gradient 12s ease infinite;
        padding: 2rem;
        li a{
            display: block;
            height: 6rem;
            padding-left: 7rem;
            position: relative;
            border-radius: .4rem;
            margin: 0;
            font-size: 2.4rem;
            line-height: 6rem;
            font-weight: bold;
            text-decoration: none;
            color: $base;
            margin-bottom: 1rem;
            &:hover,&:active{
                background: rgba($base,.2);
            }
            &::before{
                content: "";
                display: block;
                width: 4rem;
                height: 4rem;
                background: url("../images/contact-sns.svg") no-repeat;
                background-size: 24rem 4rem;
                margin: 0;
                position: absolute;
                top: 1rem;
                left: 1rem;
            }
        }
        .github::before{ background-position: -8rem 0 }
        .twitter::before{ background-position: 0 0 }
        .facebook::before{ background-position: -4rem 0 }
        .instagram::before{ background-position: -12rem 0 }
        .pixiv::before{ background-position: -16rem 0 }
        .dribbble::before{ background-position: -20rem 0 }
    }
}
