@charset "UTF-8";
@import "common";
@import "column-single";


html{
    height: 100vh;
    background: repeating-linear-gradient(-45deg, #fcfcfc, #fcfcfc 5px, #f0f0f0 5px, #f0f0f0 10px);
}
// html{
//     background:
//     radial-gradient(#fff, rgba(#fff,.2) 2px, transparent 40px),
//     radial-gradient(#fff, rgba(#fff,.15) 1px, transparent 30px),
//     radial-gradient(#fff, rgba(#fff,.1) 2px, transparent 40px),
//     radial-gradient(rgba(#fff,.4), rgba(#fff,.1) 2px, transparent 30px);
//     background-color: $main;
//     background-size: 55rem 55rem, 35rem 35rem, 25rem 25rem, 15rem 15rem;
//     background-position: 0 0, 4rem 6rem, 13rem 27rem, 7rem 10rem;
//     animation: snow 1000s linear infinite;
// }
// @keyframes snow {
//     0%{ background-position: 0 0 }
//     100%{ background-position: 10000% 10000% }
// }
main{
    @include max($readable) { padding: 0 2rem}
    h1{
        line-height: 1;
        margin: 0;
        padding-bottom: 1rem;
        letter-spacing: .05em;
        // color: $base;
        border-bottom: .3rem solid $main;
    }
    p{
        font-size: 2rem;
        letter-spacing: .05em;
        margin: 0;
        // color: $base;
    }
    .contactList{
        background: #f9f9f9;
        padding: 2rem;
        li a{
            display: block;
            height: 6rem;
            padding-left: 7rem;
            position: relative;
            border-radius: .4rem;
            margin: 0;
            font-size: 2.4rem;
            line-height: 6rem;
            font-weight: bold;
            text-decoration: none;
            color: $main;
            margin-bottom: 1rem;
            &:hover,&:active{
                background: $acce;
            }
            &::before{
                content: "";
                display: block;
                width: 4rem;
                height: 4rem;
                background: url("../images/contact-sns.svg") no-repeat;
                background-size: 20rem 4rem;
                margin: 0;
                position: absolute;
                top: 1rem;
                left: 1rem;
            }
        }
        .github::before{ background-position: -8rem 0 }
        .twitter::before{ background-position: 0 0 }
        .facebook::before{ background-position: -4rem 0 }
        .instagram::before{ background-position: -12rem 0 }
        .pixiv::before{ background-position: -16rem 0 }
    }
}
