// style for index, category, tag page

@charset "UTF-8";
@import "common";

@include min($tablet) {
    @import "column-double";
}
@include max( $tablet - 1 ) {
    @import "column-single";
}

main h1{
    line-height: 1;
    margin: 0 0 3rem;
    padding-bottom: 1rem;
    letter-spacing: .05em;
    border-bottom: .3rem solid $main;
    @include max($readable) { margin: 0 2rem 3rem }
    b{
        color: darken($acce, 20%);
    }
}
.posts{
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    @include max($readable){ padding: 0 2rem}
    li{
        width: calc( 50% - 1rem );
        @include max($mobile){ width:100% }
        margin: 0 0 2rem;
        opacity: 0;
        transition: 0;
        transform: translateY(3rem);
        &.inview{
            transition: .6s ease-out;
            opacity: 1;
            transform: translateY(0);
        }
    }
    a{
        border: .1rem solid #eee;
        border-bottom: .6rem solid #eee;
        display: block;
        width: 100%;
        height: 100%;
        position: relative;
        text-decoration: none;
        color: $main;
        box-shadow: .1rem .1rem .8rem #eee;
        .fixRatio{
            position: relative;
            width: 100%;
            background: #333;
            &::before{
                content: "";
                display: block;
                padding-top: 50%;
            }
        }
        img{
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            object-fit: cover;
            filter: grayscale(80%) brightness(60%);
            @include max($mobile){ filter: grayscale(0) brightness(100%) }
        }
        .post__info{
            padding: 3rem 3rem;
        }
        h3{
            margin: 0;
            line-height: 1.5;
            font-size: 1.8rem;
        }
        time,span{
        vertical-align: middle;
        display: inline-flex;
        font-size: 1.2rem;
        line-height: 1.4rem;
        color: #ccc;
        margin: 1rem .8em 0 0;
            .material-icons{
                vertical-align: middle;
                display: inline-flex;
                margin-right: .2em;
                font-size: 1.6rem;
                line-height: 1.4rem;
            }
        }
        p{
            margin: .8rem 0 0;
            padding: .8rem 0 0;
            border-top: .1rem solid #ccc;
            line-height: 1.5;
            font-size: 1.2rem;
        }
    }
    a:hover,a:active{
        transition: .3s;
        border-bottom: .6rem solid $acce;
        box-shadow: .8rem .8rem 2.4rem #ccc;
        transform: scale(1.009);
        img{ filter: grayscale(0) brightness(100%) }
    }
    .adsense{
        background: #ccc;
    }
}
.pager{
    @include max( $tablet - 1 ){
        text-align: center;
        margin-top: 6rem;
    }
    margin-top: 4rem;
    line-height: 4rem;
    font-size: 1.6rem;
    a{
        text-decoration: none;
        display: inline-block;
        background: #999;
        padding: 0 3rem;
        height: 4rem;
        color: #fff;
        border-radius: .4rem;
        box-sizing: border-box;
        .material-icons{
            line-height: 4rem;
            vertical-align: middle;
            display: inline-flex;
        }
        &:hover{
            background: $acce;
        }
    }
    select{
        vertical-align: bottom;
        appearance: none;
        text-align: center;
        margin-left: 1.6rem;
        height: 4rem;
        background: $base;
        text-align: center;
        padding: 0 2rem 0 2rem;
        text-overflow: '';
        outline: none;
        border: .1rem #999 solid;
        border-radius: .4rem;
        font-weight: bold;
    }
    span{
        margin-right: 1.6rem;
        color: #999;
    }
}
