@charset "UTF-8";
@import "common";



////////////////////////////////////////////////////////
// header
////////////////////////////////////////////////////////
header{
    width: 100vw;
    position: relative;
    z-index: 0;
    padding: 8rem 0;
    h1{
        margin: 0 auto;
        width: 20rem;
        text-align: center;
    }
    h1 a{
        text-decoration: none;
        display: block;
    }
    h1 p{
        font-size: 1.4rem;
        font-weight: 100;
        letter-spacing: .3em;
        text-indent: .3em;
        margin: 2rem 0 0;
        color: rgba(#000,1);
    }
}
header nav{
    ul{
        display: flex;
        justify-content: center;
        text-align: center;
        margin: 4rem auto 0;
    }
    li{
        margin: 0 2rem;
    }
    a{
        color: #ccc;
        font-family: 'Trebuchet MS';
        text-decoration: none;
        font-weight: bold;
        letter-spacing: .05em;
        transition: .2s;
        position: relative;
        display: inline-block;
    }
    a::before {
        position: absolute;
        bottom: 0;
        left: 50%;
        content: '';
        width: 100%;
        height: .2rem;
        background-color: #ccc;
        transition: .3s;
        transform: translateX(-50%);
    }
    a::after {
        position: absolute;
        bottom: 0;
        left: 50%;
        content: '';
        width: 0;
        height: .2rem;
        background-color: $main;
        transition: .3s;
        transform: translateX(-50%);
    }
    a:hover{
        color: $main;
    }
    a:hover::after {
        width: 100%;
    }
}



////////////////////////////////////////////////////////
// search
////////////////////////////////////////////////////////
.search{
    width: 28rem;
    float: right;
}

.search__box{
    background: #f0f0f0;
    border-radius: .4rem;
    position: relative;
    input{
        border: 0;
        width: 100%;
        padding: 1rem 2rem 1rem 4rem;
        outline: 0;
    }
    .material-icons{
        position: absolute;
        top: .8rem; left: .6rem;
        color: #999;
    }
    input:focus + .material-icons{ color: $acce }
}

.search__categories{
    margin: 2rem 0 0;
    a{
        display: block;
        margin-top: 1rem;
        width: 100%;
        height: 6rem;
        padding-left: 7rem;
        line-height: 6rem;
        border-radius: 3rem;
        text-decoration: none;
        font-weight: bold;
        font-size: 2rem;
        color: $main;
        vertical-align: bottom;
        position: relative;
        letter-spacing: .05em;
        &:hover,&:active,&:focus{
            background-color: rgba($main,.05);
        }
    }
    .material-icons{
        line-height: 6rem;
        position: absolute;
        border-radius: 50%;
        left: 0;
        width: 6rem;
        text-align: center;
    }
    .current .material-icons{
        background: rgba($main,.1);
    }
    a:hover .material-icons{
        // background-color: rgba($base,.6);
    }
}

.search__tags{
    display: flex;
    flex-wrap: wrap;
    margin: 2rem 0 0;
    a{
        display: inline-block;
        background-color: #eee;
        color: #333;
        padding: .3rem 1rem;
        margin: .2rem;
        font-size: 1.4rem;
        border-radius: .4rem;
        text-decoration: none;
        opacity: .8;
        &:hover{
            opacity: 1;
        }
    }
}

.follow{
    background: #ccc;
    margin: 4rem 0 0;
    width: 28rem;
    float: right;
}

////////////////////////////////////////////////////////
// content
////////////////////////////////////////////////////////
main{
    width: 90rem;
    float: left;
}

.posts{
    li{ z-index: 0 }
    li:not(:first-child){ margin-top: 1rem }
    a{
        background: #ddd;
        display: block;
        width: 100%;
        height: 16rem;
        position: relative;
        padding: 1rem 1rem 1rem 17rem;
        &::after{
            content: "";
            position: absolute;
            right: 0;
            top: 0;
            width: 4rem;
            height: 16rem;
            background: linear-gradient(transparent, #fff);;
        }
        img{
            position: absolute;
            left: 0;
            top: 0;
            width: 16rem;
            height: 16rem;
            object-fit: cover;
            filter: grayscale(100%);
        }
        h3{}
    }
    a:hover{
        box-shadow: .2rem .2rem .6rem rgba($main,.2);
        z-index: 1;
        transform: scale(1.01,1.05);
        img{ filter: grayscale(0) }
        h3{ color: $acce}
    }
    .adsense{
        background: #ccc;
    }
}
.pager{
    margin: 4rem 0 0;
    line-height: 4rem;
    font-size: 1.6rem;
    a{
        text-decoration: none;
        display: inline-block;
        background: #ccc;
        // NOTE: remake color in $ #ccc
        padding: 0 3rem;
        height: 4rem;
        color: #fff;
        border-radius: .4rem;
        vertical-align: middle;
        display: inline-flex;
        .material-icons{
            line-height: 4rem;
            vertical-align: middle;
            display: inline-flex;
        }
    }
    select{
        margin-left: 1.6rem;
        height: 4rem;
        width: 6rem;
        outline: none;
        border: .1rem #ccc solid;
        color: $main;
        font-weight: bold;
    }
    span{
        margin-right: 1.6rem;
        color: #ccc;
    }
}


////////////////////////////////////////////////////////
// footer
////////////////////////////////////////////////////////
footer{
    width: 90rem;
    padding: 4rem 0 8rem;
    text-align: center;
    color: rgba($main,.8);
    font-size: 2rem;
    overflow: auto;
    font-family: 'Trebuchet MS';
    p{ margin: 0 }
}
#gotop{
    display: block;
    width: 8rem; height: 6rem;
    border-radius: 3rem 0 0 3rem;
    background: $main;
    box-shadow: 1px 1px 3px rgba(#000,.2);
    font-size: 2.4rem;
    line-height: 6rem;
    text-align: center;
    text-decoration: none;
    position: fixed;
    bottom: 1rem; right: 0;
    color: $base;
    opacity: .6;
    &:hover,&:active{
        opacity: 1;
        transition: .3s;
    }
}
