@charset "UTF-8";
@import "lib/atom-one-dark";
@import "common";
@import "column-single";

main{
    @include max($readable){
        padding: 0 2rem;
    }
}

article header{


    .hero{
        display: block;
        background: #ccc;
        border: 2px solid #ccc;
        margin: 0;
        @include min($tablet){ min-height: $readable/3 }
        img{
            width: 100%;
        }
    }
    h1{
        line-height: 1.4;
        margin: 2rem 0 0;
        font-size: 2.4rem;
    }
    time,.postHeader__category{
        vertical-align: middle;
        display: inline-flex;
        font-size: 1.2rem;
        line-height: 1.4rem;
        opacity: .7;
        margin: 2rem .8em 0 0;
        text-decoration: none;
        color: $main;
        &:hover{ text-decoration: underline }
        .material-icons{
            vertical-align: middle;
            display: inline-flex;
            margin-right: .2em;
            font-size: 1.6rem;
            line-height: 1.4rem;
        }
    }
    .postHeader__tags{
        margin: 0;
        opacity: .7;
        display: inline;
        .material-icons{
            vertical-align: middle;
            display: inline-flex;
            margin: 2rem 0 0;
            font-size: 1.6rem;
            line-height: 1.4rem;
            color: $main;
        }
        li{
            display: inline;
        }
        a{
            vertical-align: middle;
            display: inline-flex;
            text-decoration: none;
            font-size: 1.2rem;
            line-height: 1.4rem;
            margin: 2rem .6em 0 0;
            color: $main;
            &:hover{ text-decoration: underline }
        }
        li:not(:last-child) a::after{
            content: ","
        }
    }
    #contentList.view{
        background: #F5F5F5;
        margin: 6rem 0 0;
        @include max($mobile){ margin: 4rem 0 0 }
        padding: 1.6rem 2.4rem;
        border-radius: .4rem;
        font-size: 1.4rem;
        letter-spacing: .05em;
        &::before{
            content: "目次";
            font-weight: bold;
            font-size: 1.6rem;
            display: block;
            color: #ccc;
        }
        ol{
            padding: 0 1.8rem;
            margin: 0;
        }
        li{
            padding-left: .8rem;
            margin-top: 1.8rem;
            line-height: 1.2;
            // font-weight: 900;
        }
        a{
            color: $main;
            font-weight: 100;
        }
    }
}



article section{
    margin: 12rem 0 0;
    >*{
        margin: 2rem 0 0;
    }
    .material-icons{
        vertical-align: top;
    }
    h2{
        margin: 12rem 0 0;
        padding-left: 2rem;
        border-left: .2rem solid $acce;
        line-height: 1.4;
        font-size: 3.2rem;
    }
    .backContentList{
        display: block;
        margin-top: .4rem;
        font-size: 1.4rem;
        text-decoration: none;
        color: #ccc !important;
    }
    h3{
        margin: 4rem 0 0;
        line-height: 1.4;
        font-size: 1.2em;
        opacity: .8;
    }
    h4{ //コードブロックのタイトル専用
        background: #fafafa;
        font-weight: normal;
        font-size: 1.4rem;
        padding: .4rem 1.2rem .2rem;
        margin-bottom: -2rem;
        color: rgba(#000,.4);
        border-bottom: .1rem solid rgba(#000,.2);
    }
    p:after {
      content: "";
      clear: both;
      display: block;
    }
    img{
        display: inline-block;
        max-width: 100%;
        margin:  0;
        &.left{
            @include min($mobile){
                max-width: 50%;
                float: left;
                margin: .8rem 2rem .8rem 0;
            }
        }
        &.right{
            @include min($mobile){
                max-width: 50%;
                float: right;
                margin: .8rem 0 .8rem 2rem;
            }
        }
        &.center{
            display: block;
            max-width: 100%;
            margin: 2rem auto 0;
        }
    }
    video{
        max-width: 100%;
        background-color: #ccc;
    }
    ul{
        list-style: disc;
        padding-left: 2.4rem;
    }
    ol{
        list-style: decimal;
        padding-left: 2.4rem;
    }
    li{
        margin: 0 0 .8rem;
        line-height: 1.4;
        ul,ol{
            margin: .8rem 0 0;
            list-style: circle;
        }
    }
    .footnote-ref{
        a{
            &::before{ content: " [" }
            &::after{ content: "]" }
            text-decoration: none;
            color: darken($acce,20%) !important;
        }
    }
    table{
        width: 100%;
        border-collapse: collapse;
        th,td{
            border: .1rem solid #ccc;
            padding: .6rem 1.2rem;
        }
        th{
            background: rgba($main,.1);
        }
        tr:nth-child(odd) td{
            background: rgba($main,.01);
        }
    }
    b{font-weight: 900 }
    strong{
        background: linear-gradient(transparent 60%, rgba($acce,.8) 40%);
    }
    code:not(.hljs){
        font-family: Consolas, 'Courier New', Courier, Monaco, monospace;
        color: #d72b3f;
        background-color: #f0f0f0;
        padding: 0.2em .4em;
        margin: auto 0.2em;
        border-radius: .2rem;
        font-size: .9em;
        vertical-align: 0.2em;
    }
    blockquote{
        font-style: italic;
        color: rgba($main,.6);
        background: #f0f0f0;
        border-radius: .2rem;
        padding: .1rem 2.4rem;
        border-left: .4rem solid rgba($main,.2);
    }
    hr{
        border: 0;
        margin: 6rem 0;
        border-top: .1rem dashed #ccc;
    }
    a:link{ color: darken($acce,20%) }
    a:visited{ color: darken($acce,40%) }
    a:hover,a:active{ color: darken($acce,30%) }
    .embed-line{
        opacity: .8;
        text-decoration: none;
        text-align: right;
        border-bottom: .1rem solid;
        padding-bottom: .2rem;
        font-size: 1.4rem;
        .material-icons{
            font-size: 1.6rem;
            vertical-align: text-bottom;
        }
    }
    .embed-card{
        display: block;
        position: relative;
        box-shadow: .1rem .1rem .4rem rgba(#000,.2);
        height: 8rem;
        text-decoration: none;
        color: rgba($main,.6) !important;
        box-sizing: content-box;
        &:hover{
            background: #f0f0f0;
        }
        *{ position: absolute }
        .og{
            width: 8rem;
            height: 8rem;
            top: 0;
            left: 0;
            object-fit: cover;
        }
        h5{
            margin: 0;
            line-height: 1;
            height: 40px;
            top: 1.8rem;
            left: 10rem;
            font-size: 1.8rem;
            width: calc( 100% - 12rem);
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
        .favi{
            left: 10rem;
            bottom: 1.2rem;
        }
        span{
            left: 12.8rem;
            bottom: 1rem;
            width: calc( 100% - 14.8rem);
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
        .material-icons{
            right: .4rem;
            bottom: .4rem;
            font-size: 2.4rem;
        }
    }

}

article section .hljs{
    padding: 1.6rem 2.4rem;
    line-height: 1.6;
    font-size: 1.4rem;
    font-family: Menlo, Consolas, 'DejaVu Sans Mono', monospace;
    cursor: text;
    em{
        font-style: normal;
        margin-left: -2.4rem;
        margin-right: -2.4rem;
        padding-left: 2.4rem;
        padding-right: 2.4rem;
        background-color: rgba(#fff,.1);
        display: inline-block;
        width: 100%;
        box-sizing: content-box;
    }
}

article footer{
    margin: 12rem 0 0;
    @include max($mobile){ margin: 8rem 0 0 }
    .adsense{
        margin: 8rem auto 0;
        width: 98%;
        border: 1px solid #ccc;
        padding: 1rem;
    }
    .follow{
        background: #FAFAFA;
        font-family: 'Trebuchet MS';
        text-align: center;
        padding: 2.4rem 0;
        margin: 6rem 0 0;
        h3{
            margin: 0;
            line-height: 1;
            color: $main;
            font-size: 2.4rem;
        }
        ul{
            list-style: none;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            margin: .8rem 0 0;
            padding: 0 2rem;
        }
        li{
            width: calc( 50% - .8rem );
            margin: .8rem 0 0;
        }
        a{
            display: block;
            background-color: $acce;
            line-height: 3.2rem;
            height: 3.2rem;
            text-decoration: none;
            color: #fff;
            border-radius: 2px;
            &:hover,&:active{ filter: brightness(110%); }
        }
    }
}

article .share{
    display: flex;
    position: fixed;
    flex-direction: column;
    @include max($readable){ flex-direction: row; }
    bottom: 2rem;
    left: 2rem;
    a{
        text-indent: 100%;
        white-space: nowrap;
        overflow: hidden;
        margin-top: 1.4rem;
        margin-right: 1.4rem;
        display: block;
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        background: url("../images/post-share.svg") no-repeat;
        background-color: rgba($main,.3);
        background-size: 20rem 4rem;
        &.twitter{background-position: 0 0 }
        &:hover.twitter{ background-color: #008ff7 }
        &.facebook{ background-position: -4rem 0 }
        &:hover.facebook{background-color: #27448b }
        &.hatena{ background-position: -8rem 0 }
        &:hover.hatena{ background-color: #00a4de }
        // PocketはPCのみ
        &.pocket{
            background-position: -12rem 0;
            @include max($mobile){ display: none }
        }
        &:hover.pocket{ background-color: #ef4056 }
        // LINEはSPのみ
        &.line{
            background-position: -16rem 0;
            display: none;
            @include max($mobile){ display: block }
        }
        &:hover.line{ background-color: #00B500 }
    }
}
