        <li><a href="{{ .Permalink }}">
            {{- if ne .Params.id ""  }}
            <div class="fixRatio"><img src="{{ .Site.BaseURL }}/images/post/{{ .Params.id -}}/hero--sp.jpg" alt="記事サムネイル"></div>
            {{- else }}
            <div class="fixRatio"><img src="{{ .Site.BaseURL }}/images/default--sp.png" alt="記事サムネイル"></div>
            {{- end }}
            <div class="post__info">
                <h3>{{ .Title }} {{ if .Draft }}:: DRAFT{{end}}</h3>
                <time datetime="{{ .Date.Format "2006-01-02T03:04:05+09:00" }}"><i class="material-icons">schedule</i>{{ .Date.Format "2006.01.02" }}</time>
                {{ with .Params.categories -}}{{ range . -}}
                <span><i class="material-icons">folder</i>{{ . }}</span>
                {{- end }}{{- end }}
                {{ with .Params.description -}}
                <p>{{ . }}</p>
                {{- end }}
            </div>
        </a></li>
