        <li><a href="{{ .Permalink }}">
            <div class="fixRatio"><img src="images/post/20170717_hello-world_sp.jpg" alt="post-image"></div>
            <div class="post__info">
                <h3>{{ .Title }} {{ if .Draft }}:: DRAFT{{end}}</h3>
                <time datetime="{{ .Date.Format "2006-01-02T03:04:05+09:00" }}"><i class="material-icons">schedule</i>{{ .Date.Format "2006.01.02" }}</time>
                {{ with .Params.categories -}}{{ range . -}}
                <span><i class="material-icons">folder</i>{{ . }}</span>
                {{- end }}{{- end }}
                <p>文字詰めできるCSSのfont-feature-settingsが凄い！ 日本語フォントこそ指定したい自動カーニング文字詰めできるCSSのfont-feature-settingsが凄い！ 日本語フォントこそ指定したい自動カーニング文字詰めできるCSSのfont-feature-settingsが凄い！ 日本語フォントこそ指定したい自動カーニング</p>
            </div>
        </a></li>
