{{ partial "header" (dict "asset" "main" "context" . "Site" .Site ) }}

{{ "<!-- main content block -->" | safeHTML }}
<main>

    <h1>{{ .Title }} の記事</h1>
    <!-- <h1><b>Design</b> カテゴリの記事</h1> -->

    <ul class="posts" id="posts">

{{ $paginator := .Paginate (where .Data.Pages "Type" "post") 11 -}}
{{- range $paginator.Pages -}}

{{ .Render "li" }}

{{- end }}

        <li class="adsense"></li>

    </ul>

    {{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}
    <nav class="pager">

        {{ if .Paginator.HasPrev }}
        <a href="{{ .Paginator.Prev.URL }}" class='disable'><i class="material-icons">navigate_before</i></a>
        {{ end }}

        <select>
            <option selected>{{ .Paginator.PageNumber }}</option>
            <!-- TODO: FOR 文まわして作る -->
        </select>
        <span>&nbsp;&nbsp;/&nbsp;&nbsp;{{ .Paginator.TotalPages }}</span>

        {{ if .Paginator.HasNext }}
        <a href="{{ .Paginator.Next.URL }}">NEXT<i class="material-icons">navigate_next</i></a>
        {{ end }}

    </nav>
    {{ end }}

</main>
{{ partial "footer" (dict "asset" "" "context" . "Site" .Site ) }}
