* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

header,
main,
footer {
  width: 70%;
  max-width: 700px;
  margin: 0 auto;
}

header {
  padding-top: 16px;
}

header::after,
.entry-header::after {
  content: "";
  clear: both;
  display: block;
}

h1 {
  float: left;
}

main,
nav,
footer {
  margin-top: 40px;
}

li {
  margin-bottom: 16px;
}

li span {
  margin-right: 16px;
}

nav,
footer {
  text-align: center;
}

.entry-date {
  float: right;
}

.entry-content {
  margin-top: 40px;
}
