    {{ "<!-- footer block -->" | safeHTML }}
    <footer class="globalFooter">
        <a id="gotop" title="上へスクロール">▲</a>
        <p><small>© hirata 2018</small></p>
    </footer>

    </div>{{ "<!-- / wrap -->" | safeHTML }}

    {{ "<!-- SCRIPTS -->" | safeHTML }}
    <script src="{{ .Site.BaseURL }}/scripts/main.js"></script>
    {{- if eq .asset "post" }}
    <script src="{{ .Site.BaseURL }}/scripts/lib/highlight.pack.js"></script>
    <script src="{{ .Site.BaseURL }}/scripts/post.js"></script>
    {{- else if ne .asset "" }}
    <script src="{{ .Site.BaseURL }}/scripts/{{.asset}}.js"></script>
    {{- end }}

</body>
</html>
