{{ "<!-- footer block -->" | safeHTML }}
<footer class="globalFooter">
    <a id="gotop" title="上へスクロール">▲</a>
    <p><small>© hirata 2017</small></p>
</footer>

</div>{{ "<!-- / wrap -->" | safeHTML }}

{{ "<!-- SCRIPTS -->" | safeHTML }}
<!-- <script> (adsbygoogle = window.adsbygoogle || []).push({}); </script> -->
<script src="{{ .Site.BaseURL }}/scripts/main.min.js" async></script>
{{- if ne .asset "" }}
<script src="{{ .Site.BaseURL }}/scripts/{{.asset}}.min.js" async></script>
{{- end }}

</body>
</html>
