{{ partial "header" (dict "asset" "main" "context" . "Site" .Site ) }}

    {{ "<!-- main content block -->" | safeHTML }}
    <main>

        <ul class="posts" id="posts">

    <!-- Adsense追加したら7に変える -->
    {{ $paginator := .Paginate (where .Data.Pages "Type" "post") 7 -}}
    {{- range $paginator.Pages -}}

    {{ .Render "li" }}

    {{- end }}

            <li class="adsense">
                <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <ins class="adsbygoogle"
                     style="display:block"
                     data-ad-format="fluid"
                     data-ad-layout-key="-6b+cv+2t-2q+74"
                     data-ad-client="ca-pub-5055970484117246"
                     data-ad-slot="3423591226"></ins>
                <script>
                     (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
            </li>

        </ul>

        {{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}
        <nav class="pager">

            {{- if .Paginator.HasPrev }}
            <a href="{{ .Paginator.Prev.URL }}" class='disable'><i class="material-icons">navigate_before</i></a>
            {{- end }}

            <select id="pager__select">
                {{- range $paginator.Pagers }}
                <option value="{{ .URL }}"{{ if eq . $paginator }} selected{{ end }}>{{ .PageNumber }}</option>
                {{- end }}
            </select>
            <span>&nbsp;&nbsp;/&nbsp;&nbsp;{{ .Paginator.TotalPages }}</span>

            {{- if .Paginator.HasNext }}
            <a href="{{ .Paginator.Next.URL }}">NEXT<i class="material-icons">navigate_next</i></a>
            {{- end }}

        </nav>
        {{ end }}

    </main>{{ "<!-- / main content block -->" | safeHTML }}

{{ partial "footer" (dict "asset" "" "context" . "Site" .Site ) }}
