{{ partial "header.html" . }}

    <!-- main content block-->
    <main><ul class="posts" id="posts">

        {{ $paginator := .Paginate (where .Data.Pages "Type" "post") 12 }}
        {{ range $paginator.Pages }}
        <li><a href="{{ .Permalink }}">
            <div class="fixRatio"><img src="images/post/20170717_hello-world_sp.jpg" alt="post-image"></div>
            <div class="post__info">
                <h3>{{ .Title }} {{ if .Draft }}:: DRAFT{{end}}</h3>
                <time datetime="{{ .Date.Format "2006-01-02T03:04:05+09:00" }}"><i class="material-icons">event</i>{{ .Date.Format "2006.01.02" }}</time>
                <span><i class="material-icons">create</i>Design</span>
                <p>文字詰めできるCSSのfont-feature-settingsが凄い！ 日本語フォントこそ指定したい自動カーニング文字詰めできるCSSのfont-feature-settingsが凄い！ 日本語フォントこそ指定したい自動カーニング文字詰めできるCSSのfont-feature-settingsが凄い！ 日本語フォントこそ指定したい自動カーニング</p>
            </div>
        </a></li>
        {{ end }}

        <li class="adsense"></li>

    </ul>
    <nav class="pager">
        <a href="" class='disable'><i class="material-icons">navigate_before</i></a>
        <select>
            <option>1</option>
            <option selected>2</option>
            <option>3</option>
            <option>99</option>
        </select>
        <span>&nbsp;&nbsp;/&nbsp;&nbsp;53</span>
        <a href="">NEXT<i class="material-icons">navigate_next</i></a>
    </nav>
    {{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}
        <nav class="pagination">
            {{ if .Paginator.HasPrev }}
            <a href="{{ .Paginator.Prev.URL }}">前へ</a>
            {{ end }}
            <span class="current-page">Page {{ .Paginator.PageNumber }} of {{ .Paginator.TotalPages }}</span>
            {{ if .Paginator.HasNext }}
            <a href="{{ .Paginator.Next.URL }}">次へ</a>
            {{ end }}
        </nav>
    {{ end }}
    </main>

{{ partial "footer.html" . }}
